<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script type="text/javascript" src="/javascripts/main1.js"></script> -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main>
        <!-- <p>Prediction</p>
        <input type="text" id="predict" value="test" maxlength="4">
        <input type="button" value="CHECK" onclick="getValue2('predict')">
        <div id="preList"></div> -->
        
        <!-- <div>
            <% for (var i in content) { %>
                <% var obj = content[i]; %>
                <p><%= obj.word %></p>
            <% } %>
        </div> -->
    </main>
    
  </body>
</html>
