/* 初期化 */
body, p, h1, h2, h3, h4, h5, h6, div, a, header, main, footer{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #000000;
}
main{
  display: block;
}

/* デザイン */
body {
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
